In [26]:
import  pandas as pd
import numpy as np

In [27]:
from os import listdir

In [28]:
import glob

txtfiles = []
for file in glob.glob("*.txt"):
    txtfiles.append(file)
    
txtfiles

['B014G2.txt',
 'B014G5.txt',
 'B014U9.txt',
 'B015B6.txt',
 'B015E5.txt',
 'B015U1.txt',
 'B015YP.txt',
 'B016YU.txt',
 'B017Y9.txt',
 'B017YS.txt',
 'B018H0.txt',
 'B019B0.txt',
 'B019Y1.txt',
 'B019ZB.txt',
 'B020B1.txt',
 'B020B8.txt',
 'B020U5.txt',
 'B020WY.txt',
 'B020Y5.txt',
 'B020YP.txt',
 'B0211D.txt',
 'B021WY.txt',
 'B021Y3.txt',
 'B022ZB.txt',
 'B023V1.txt',
 'B0243D.txt',
 'B024C1.txt',
 'B024C5.txt',
 'B024G0.txt',
 'B024G2.txt',
 'B0254K.txt',
 'B025YS.txt',
 'B0272D.txt',
 'B0273D.txt',
 'B027Z6.txt',
 'B028ZB.txt',
 'B029B2.txt',
 'B029U7.txt',
 'B029WY.txt',
 'B029Y3.txt',
 'B029Y5.txt',
 'B029ZB.txt',
 'B030WY.txt',
 'B030ZD.txt',
 'B031B5.txt',
 'B031B8.txt',
 'B031U0.txt',
 'B031YS.txt',
 'B0325D.txt',
 'B032F7.txt',
 'B032U1.txt',
 'B032YP.txt',
 'B033V9.txt',
 'B033YW.txt',
 'B033ZD.txt',
 'B0346A.txt',
 'B034U1.txt',
 'B034U5.txt',
 'B034V1.txt',
 'B034Z0.txt',
 'B035YP.txt',
 'B036B2.txt',
 'B036E3.txt',
 'B036U7.txt',
 'B036Y7.txt',
 'B036ZB.txt',
 'B036ZE.txt',
 'B037Y1.txt',
 'B037YS.txt',
 'B037ZD.txt',
 'B038Y7.txt',
 'B038YW.txt',
 'B039U5.txt',
 'B040B6.txt',
 'B040B9.txt',
 'B040C1.txt',
 'B040C7.txt',
 'B040S5.txt',
 'B040V5.txt',
 'B040YU.txt',
 'B040ZB.txt',
 'B041A7.txt',
 'B041B5.txt',
 'B041C0.txt',
 'B041C2.txt',
 'B041D7.txt',
 'B041F9.txt',
 'B041G1.txt',
 'B041G8.txt',
 'B041T7.txt',
 'B041U9.txt',
 'B041WZ.txt',
 'B041YZ.txt',
 'B041ZC.txt',
 'B041ZE.txt',
 'B042H2.txt',
 'B042WZ.txt',
 'B042Z1.txt',
 'B042ZB.txt',
 'B043F2.txt',
 'B043G0.txt',
 'B043T7.txt',
 'B043U3.txt',
 'B043U5.txt',
 'B043YU.txt',
 'B043ZB.txt',
 'B043ZE.txt',
 'B044B1.txt',
 'B044G2.txt',
 'B044G3.txt',
 'B044H1.txt',
 'B044H8.txt',
 'B044U1.txt',
 'B044U7.txt',
 'B0452D.txt',
 'B045D3.txt',
 'B045H0.txt',
 'B045U0.txt',
 'B045ZE.txt',
 'B0467D.txt',
 'B046B7.txt',
 'B046C5.txt',
 'B046C9.txt',
 'B046G5.txt',
 'B046H3.txt',
 'B046H6.txt',
 'B046U7.txt',
 'B046V7.txt',
 'B046Y6.txt',
 'B047C0.txt',
 'B047T5.txt',
 'B047U2.txt',
 'B047W1.txt',
 'B047WY.txt',
 'B047Y1.txt',
 'B047ZB.txt',
 'B047ZC.txt',
 'B048U2.txt',
 'B048U5.txt',
 'B048V3.txt',
 'B048W2.txt',
 'B048Z3.txt',
 'B049U1.txt',
 'B049W5.txt',
 'B050Y1.txt',
 'B0511D.txt',
 'B0519D.txt',
 'B051U0.txt',
 'B051U3.txt',
 'B051U6.txt',
 'B051U8.txt',
 'B051V7.txt',
 'B051YP.txt',
 'B051YS.txt',
 'B051YU.txt',
 'B052B8.txt',
 'B052B9.txt',
 'B052U2.txt',
 'B052U3.txt',
 'B052WY.txt',
 'B052YP.txt',
 'B0530D.txt',
 'B0531A.txt',
 'B053B5.txt',
 'B053U6.txt',
 'B053U7.txt',
 'B053V9.txt',
 'B053Y7.txt',
 'B053Y8.txt',
 'B053YS.txt',
 'B0546D.txt',
 'B054D2.txt',
 'B054U3.txt',
 'B054W0.txt',
 'B055E6.txt',
 'B055V0.txt',
 'B055V5.txt',
 'B055Y6.txt',
 'B0563D.txt',
 'B056U5.txt',
 'B056Y0.txt',
 'B056Y9.txt',
 'B056ZB.txt',
 'B057U8.txt',
 'B057Y2.txt',
 'B057YP.txt',
 'B057ZD.txt',
 'B057ZE.txt',
 'B058E8.txt',
 'B058U1.txt',
 'B058U6.txt',
 'B058V2.txt',
 'B058V6.txt',
 'B058Y2.txt',
 'B058YP.txt',
 'B0596D.txt',
 'B059U1.txt',
 'B059V5.txt',
 'B059V6.txt',
 'B059WY.txt',
 'B059Y1.txt',
 'B059YP.txt',
 'B059YW.txt',
 'B0609D.txt',
 'B060U0.txt',
 'B060U7.txt',
 'B060U8.txt',
 'B060V0.txt',
 'B060WY.txt',
 'B060YU.txt',
 'B061U0.txt',
 'B061U6.txt',
 'B061U8.txt',
 'B061Y0.txt',
 'B061YS.txt',
 'B062U3.txt',
 'B062U6.txt',
 'B062V2.txt',
 'B062YP.txt',
 'B063E3.txt',
 'B063E6.txt',
 'B063E8.txt',
 'B063U3.txt',
 'B063V3.txt',
 'B063WY.txt',
 'B063Y0.txt',
 'B063Y7.txt',
 'B063ZB.txt',
 'B064A7.txt',
 'B064G6.txt',
 'B064T7.txt',
 'B064U7.txt',
 'B064W7.txt',
 'B064Y1.txt',
 'B065E3.txt',
 'B065H3.txt',
 'B065U5.txt',
 'B065U6.txt',
 'B065Y8.txt',
 'B065YP.txt',
 'B066E5.txt',
 'B066H1.txt',
 'B066U1.txt',
 'B066U7.txt',
 'B066U8.txt',
 'B066V5.txt',
 'B067U2.txt',
 'B067U7.txt',
 'B067Y2.txt']

In [29]:
df = pd.read_csv('B014G2.txt', sep = '\t', header=None)
df["userID"] = 1
df

            0   1  2  userID
0       41544  47  1       1
1       37686  47  1       1
2      115044   0  1       1
3       90127   0  1       1
4       36829   0  1       1
5       36660   0  1       1
6       36662   0  1       1
7       36663   0  1       1
8       36831   0  1       1
9       36050   0  1       1
10      36051   0  1       1
11      90226   0  1       1
12      90227   0  1       1
13      39339   0  1       1
14      67317   0  1       1
15      37012   0  1       1
16      37013   0  1       1
17      38717   0  1       1
18      36225   0  1       1
19      36226   0  1       1
20      37277   0  1       1
21      36228   0  1       1
22      37279   0  1       1
23      37280   0  1       1
24      36323   0  1       1
25      35743   0  1       1
26      37284   0  1       1
27      37285   0  1       1
28      36320   0  1       1
29      37327   0  1       1
...       ...  .. ..     ...
58247   47304  46  1       1
58248   34756  46  1       1
58249   34430  46  1       1
58250   43214  46  1       1
58251   44910  46  1       1
58252   44911  46  1       1
58253   61149  46  1       1
58254   34770  46  1       1
58255   34774  46  1       1
58256   44920  46  1       1
58257   34190  46  1       1
58258   50562  47  1       1
58259   50561  47  1       1
58260   41161  47  1       1
58261   41165  47  1       1
58262   42609  47  1       1
58263   48187  47  1       1
58264   48188  47  1       1
58265   69621  47  1       1
58266   43169  47  1       1
58267   43166  47  1       1
58268   43167  47  1       1
58269   79304  47  1       1
58270   79301  47  1       1
58271   34334  47  1       1
58272   33672  47  1       1
58273   34188  47  1       1
58274   42674  47  1       1
58275  117368  47  1       1
58276   35477  47  1       1

[58277 rows x 4 columns]

In [30]:
count = 0 
user = 2 
for f in txtfiles:
    if count==0:
        count=1 
        continue 
    dfx = pd.read_csv(f, sep = '\t', header=None)
    dfx["userID"] = user
    user = user+1
    print(len(dfx))
    df = df.append(dfx, ignore_index=True)

39899
54881
51315
47540
24747
28427
65653
47083
50636
60622
56849
61348
29990
45142
59721
61987
31440
65990
31457
45827
814
10911
34516
38699
56325
23018
47486
45573
60311
40767
47623
52859
52680
54826
31871
51774
41640
32625
58850
59136
38815
29771
15312
34559
54229
51015
48836
41222
41721
49945
29357
37378
47702
52820
20491
58257
52544
38503
56924
28300
61004
49140
56704
1647
24418
26311
60196
45638
13786
53646
40439
51036
53943
53759
36670
58848
52912
34438
47474
48623
57299
37440
45283
59608
70885
45294
27930
64085
33020
51316
59557
33778
56431
21988
3171
59792
37684
51899
68564
21609
59501
53838
55905
50042
54042
25628
42940
30378
62520
58580
56941
51936
54594
44307
2767
58554
52800
25263
45470
47356
55458
39987
59323
59478
65638
50895
31131
57944
43824
60733
53222
29412
58739
53110
42210
41575
49625
57444
29647
66559
53070
53276
51076
53094
50075
33047
50108
40624
45519
50602
34864
32392
52699
62000
57157
51697
55104
49655
32249
39300
54122
26949
58101
52451
31789
42538
11398
45023
54820
53309
57447
58624
53074
44578
42379
40005
70758
58621
45288
55023
51549
36188
49984
55832
53264
43995
28236
50821
48001
26539
37524
28321
62039
27639
50103
54221
20374
40942
21142
60673
17161
45241
51002
46512
59157
51392
41217
31411
64016
54070
53677
55846
63531
46829
56486
39522
35874
19579
57645
47262
60912
25918
48145
30137
58294
31547
43261
53210
60632
30561
52197
43433
55182
54413
56581
44667
44473
54623
34959
60374
39230
50250
51418
44879
23102
51110
45869
58737

In [31]:
len(txtfiles)

249

In [32]:
len(df)

11402253

In [33]:
df

               0   1  2  userID
0          41544  47  1       1
1          37686  47  1       1
2         115044   0  1       1
3          90127   0  1       1
4          36829   0  1       1
5          36660   0  1       1
6          36662   0  1       1
7          36663   0  1       1
8          36831   0  1       1
9          36050   0  1       1
10         36051   0  1       1
11         90226   0  1       1
12         90227   0  1       1
13         39339   0  1       1
14         67317   0  1       1
15         37012   0  1       1
16         37013   0  1       1
17         38717   0  1       1
18         36225   0  1       1
19         36226   0  1       1
20         37277   0  1       1
21         36228   0  1       1
22         37279   0  1       1
23         37280   0  1       1
24         36323   0  1       1
25         35743   0  1       1
26         37284   0  1       1
27         37285   0  1       1
28         36320   0  1       1
29         37327   0  1       1
...          ...  .. ..     ...
11402223   39895  46  1     249
11402224   34072  46  1     249
11402225     757  46  1     249
11402226     759  46  1     249
11402227     767  46  1     249
11402228  107750  46  1     249
11402229     743  46  1     249
11402230   16294  46  1     249
11402231   16295  46  1     249
11402232   10681  46  1     249
11402233   10682  46  1     249
11402234   49441  46  1     249
11402235   49442  46  1     249
11402236   49438  46  1     249
11402237   10674  46  1     249
11402238   10678  46  1     249
11402239   10796  46  1     249
11402240   10799  46  1     249
11402241   10643  46  1     249
11402242   10646  46  1     249
11402243   10649  46  1     249
11402244     694  46  1     249
11402245     693  46  1     249
11402246     561  46  1     249
11402247   83339  46  1     249
11402248   83340  46  1     249
11402249   83338  46  1     249
11402250     473  46  1     249
11402251     660  46  1     249
11402252   95430  46  1     249

[11402253 rows x 4 columns]

In [34]:
df.to_csv("complete_data")