In [2]:
import pandas as pd
import numpy as np

In [10]:
file_r = open('101-150_final.csv/101-150.txt', 'r+')

In [11]:
file_w = open('101-150_gg.txt', 'a')

In [12]:
for line in file_r:    
    line = line.replace('(','')
    line = line.replace(')', '')
    line = line.strip()
    file_w.write(line+'\n')

In [16]:
df = pd.read_csv("51-100_gg.txt", sep = ',')

In [17]:
df.head(10)

   96   1080592   7.555589157289623e-41
0  80   1080592            5.464235e-39
1  64   1080592            2.929779e-39
2  81   1080592            1.202561e-35
3  97   1080592            4.585776e-38
4  65   1080592            4.438557e-40
5  82   1080592            2.115778e-40
6  66   1080592           -4.884844e-41
7  98   1080592            2.233027e-39
8  51   1080592            5.545180e-40
9  83   1080592            5.494327e-40